@charset "UTF-8";
.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c4c4c4;
  padding: 20px 30px;
  margin: 0px 120px; }

.communication {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 12px; }
  .communication__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 154px;
    height: 31px; }

.size {
  width: 154px;
  height: 31px; }
  .size__icon {
    width: 32px;
    height: 31px;
    position: relative;
    top: 1px;
    right: 3px;
    opacity: 0.5; }

.logo {
  width: 242px;
  height: 70px; }

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
  margin: 40px 120px; }
  .navigation__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: none; }
  .navigation__item {
    margin: 0px 45px 0px 0px;
    padding: 10px 0px 0px 0px;
    color: #707070; }
  .navigation__item:hover {
    color: black;
    cursor: pointer; }
  .navigation__button {
    border-radius: 25px;
    background-color: #ec407a; }

.button__name {
  font-family: Montserrat-Bold;
  color: white;
  margin: 10px 30px; }

.navigation__button:hover {
  transform: scale(1.1);
  color: black;
  cursor: pointer; }

.video {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .video__rolic {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0; }
  .video__content {
    text-align: center;
    position: absolute;
    top: 90px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    color: white; }

.content__headline {
  font-size: 54px;
  margin: 0px 0px 45px 0px; }
.content__text {
  font-size: 22px; }
.content__button {
  font-size: 18px;
  border-radius: 25px;
  background-color: #ec407a;
  padding: 10px 30px;
  margin: 45px 0px; }

.content__button:hover {
  transform: scale(1.1);
  cursor: pointer; }

.window_all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  position: relative;
  bottom: 155px;
  text-align: center; }

.window {
  background-color: white;
  width: 255px;
  height: 255px;
  padding: 20px;
  box-shadow: 3px 3px 35px 0px rgba(79, 75, 88, 0.25); }
  .window__icon {
    width: 65px;
    height: 65px;
    padding: 25px; }
  .window__headline {
    font-size: 24px; }
  .window__text {
    font-size: 12px;
    margin: 15px 59px; }
  .window__button {
    font-size: 14px;
    border-radius: 25px;
    background-color: #ec407a;
    display: inline;
    color: white;
    padding: 5px 35px; }

.window:hover {
  transform: scale(1.2);
  box-shadow: 3px 3px 35px 0px #4f4b58; }

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px; }
  .article__headline {
    font-size: 42px;
    font-family: Montserrat; }
  .article__text {
    font-size: 22px;
    margin: 20px 145px;
    text-align: center;
    color: #737373; }

.article_aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px; }

.section {
  margin: 70px 0px; }

.line {
  box-sizing: border-box;
  width: 100Vw;
  height: 50Vh;
  display: flex;
  flex-direction: row; }
  .line__block {
    width: 50%;
    background-color: #EDF6FB; }
  .line__image_1 {
    width: 50%;
    background-size: cover;
    background-image: url("../../app/img/0001.JPG"); }
  .line__image_2 {
    width: 50%;
    background-size: cover;
    background-image: url("../../app/img/0002.JPG"); }
  .line__image_3 {
    width: 50%;
    background-size: cover;
    background-image: url("../../app/img/0003.JPG"); }
  .line__size {
    height: 100%;
    width: 100%; }
  .line__headline {
    font-size: 32px;
    padding-left: 35px;
    padding-top: 20px; }
  .line__content {
    font-size: 22px;
    color: #707070;
    padding: 35px 35px; }
  .line__icon {
    width: 10px;
    height: 10px;
    padding-left: 35px; }
  .line__check {
    display: flex;
    flex-direction: row; }
  .line__row {
    font-size: 22px;
    color: #707070;
    padding-left: 5px; }

.footer {
  background-color: #ec407a;
  color: white;
  padding-top: 10px; }
  .footer__logo {
    height: 55px; }
  .footer__number {
    font-size: 14px; }
  .footer__headline {
    font-size: 22px; }
  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px; }
  .footer__hight {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 0px; }
  .footer__bottom {
    text-align: center; }
  .footer__icon {
    width: 25px;
    height: 25px; }

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf") format("ttf"); }
.image {
  width: 100%;
  height: 100%; }

.services {
  margin: 5%; }
  .services__line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: none;
    margin: 2% 5%; }
  .services__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 900;
    height: 200px;
    width: 325px; }
  .services__consyltat {
    background-size: cover;
    background-image: url("../../app/img/gallery/consyltat.jpg"); }
  .services__vedennya {
    background-size: cover;
    background-image: url("../../app/img/gallery/vedennya.jpg"); }
  .services__pology {
    background-size: cover;
    background-image: url("../../app/img/gallery/pology.jpg"); }
  .services__estety {
    background-size: cover;
    background-image: url("../../app/img/gallery/estety.jpg"); }
  .services__operatuv {
    background-size: cover;
    background-image: url("../../app/img/gallery/operatuv.jpg"); }
  .services__inshe {
    background-size: cover;
    background-image: url("../../app/img/gallery/inshe.jpg"); }

.services__item:hover {
  transform: scale(1.02); }

.pregnancy {
  margin: 5%; }
  .pregnancy__location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: none;
    padding: 5% 15% 5% 5%;
    margin: 4% 8%;
    box-shadow: 1.5px 2.6px 20.2px 3.8px rgba(109, 109, 109, 0.1);
    background-color: #ffffff; }
  .pregnancy__title {
    padding-bottom: 7px;
    color: #707070; }
  .pregnancy__term {
    color: #ec407a; }
  .pregnancy__cost {
    padding-top: 15px;
    color: #ec407a;
    font-weight: 900; }

.table_of_contents {
  text-align: center;
  font-size: 25px;
  font-weight: 900; }

.consultation {
  margin: 5%; }
  .consultation__location {
    border-top: 10px solid white;
    padding: 5% 10% 5% 5%;
    margin: 4% 8%;
    box-shadow: 1.5px 2.6px 20.2px 3.8px rgba(109, 109, 109, 0.1);
    background-color: #ffffff; }
  .consultation__paragraph {
    padding: 0% 0% 2% 0%;
    font-weight: 600; }
  .consultation__subparagraph {
    color: #f59fbc;
    padding: 2% 0% 2% 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: none; }
  .consultation__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: none;
    padding: 2% 0% 2% 0%;
    color: #707070; }

.menu_cost {
  display: none;
  border-top: 0px solid white; }

.menu_cost:hover {
  display: inline-block; }

.consultation__location:hover {
  border-top: 10px solid #ec407a; }

.doctorsText {
  margin-top: 75px; }
  .doctorsText__headline {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    color: #333333; }
  .doctorsText__content {
    margin: 60px 100px;
    font-family: OpenSans;
    font-size: 16px;
    text-align: center;
    color: #707070; }

.doctorsList {
  margin: auto; }
  .doctorsList__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px; }
  .doctorsList__row-down {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 80px; }
  .doctorsList__column {
    display: flex;
    flex-direction: column; }
  .doctorsList__image-Bybur {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url("../../app/img/doctors/Бубирь ч.б..jpg"); }
  .doctorsList__image-Bybur:hover {
    background-image: url("../../app/img/doctors/Бубирь.jpg"); }
  .doctorsList__image-Otroshko {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url("../../app/img/doctors/Отрошко ч.б.jpg"); }
  .doctorsList__image-Otroshko:hover {
    background-image: url("../../app/img/doctors/Отрошко.jpg"); }
  .doctorsList__image-Boiko {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url("../../app/img/doctors/Бойко ч б.jpg"); }
  .doctorsList__image-Boiko:hover {
    background-image: url("../../app/img/doctors/Бойко.jpg"); }
  .doctorsList__image-Skripka {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url("../../app/img/doctors/Скрипка ч.б.jpg"); }
  .doctorsList__image-Skripka:hover {
    background-image: url("../../app/img/doctors/Скрипка.jpg"); }
  .doctorsList__image-Pantuh {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url("../../app/img/doctors/Пантюх чб.jpg"); }
  .doctorsList__image-Pantuh:hover {
    background-image: url("../../app/img/doctors/Пантюх.jpg"); }
  .doctorsList__image-Gerkaluk {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url("../../app/img/doctors/Геркалюк ч.б.jpg"); }
  .doctorsList__image-Gerkaluk:hover {
    background-image: url("../../app/img/doctors/Геркалюк.jpg"); }
  .doctorsList__image-Akin {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url("../../app/img/doctors/Акін ч.б..jpg"); }
  .doctorsList__image-Akin:hover {
    background-image: url("../../app/img/doctors/Акин.jpg"); }
  .doctorsList__name {
    padding-bottom: 10px;
    padding-top: 30px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    color: #333333; }
  .doctorsList__position {
    font-family: OpenSans;
    font-size: 12px;
    color: #333333; }

.galleryHeadline {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  color: #333333;
  margin: 60px 100px; }

.gallery {
  margin: 0Vh 6Vw; }
  .gallery__title {
    text-align: center;
    position: relative;
    top: 85%;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 800;
    color: #ffffff; }
  .gallery__zIndex1-vedennya {
    opacity: 0.3;
    z-index: 1;
    width: 21Vw;
    height: 28Vh;
    position: relative;
    bottom: 56Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/vedennya.jpg"); }
  .gallery__zIndex2-vedennya {
    opacity: 0.5;
    z-index: 2;
    width: 24Vw;
    height: 30Vh;
    position: relative;
    bottom: 29Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/vedennya.jpg"); }
  .gallery__zIndex3-vedennya {
    position: relative;
    z-index: 3;
    width: 27Vw;
    height: 32Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/vedennya.jpg"); }
  .gallery__zIndex1-operatuv {
    opacity: 0.3;
    z-index: 1;
    width: 21Vw;
    height: 28Vh;
    position: relative;
    bottom: 56Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/operatuv.jpg"); }
  .gallery__zIndex2-operatuv {
    opacity: 0.5;
    z-index: 2;
    width: 24Vw;
    height: 30Vh;
    position: relative;
    bottom: 29Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/operatuv.jpg"); }
  .gallery__zIndex3-operatuv {
    position: relative;
    z-index: 3;
    width: 27Vw;
    height: 32Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/operatuv.jpg"); }
  .gallery__zIndex1-estety {
    opacity: 0.3;
    z-index: 1;
    width: 21Vw;
    height: 28Vh;
    position: relative;
    bottom: 56Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/estety.jpg"); }
  .gallery__zIndex2-estety {
    opacity: 0.5;
    z-index: 2;
    width: 24Vw;
    height: 30Vh;
    position: relative;
    bottom: 29Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/estety.jpg"); }
  .gallery__zIndex3-estety {
    position: relative;
    z-index: 3;
    width: 27Vw;
    height: 32Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/estety.jpg"); }
  .gallery__zIndex1-consyltat {
    opacity: 0.3;
    z-index: 1;
    width: 21Vw;
    height: 28Vh;
    position: relative;
    bottom: 56Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/consyltat.jpg"); }
  .gallery__zIndex2-consyltat {
    opacity: 0.5;
    z-index: 2;
    width: 24Vw;
    height: 30Vh;
    position: relative;
    bottom: 29Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/consyltat.jpg"); }
  .gallery__zIndex3-consyltat {
    position: relative;
    z-index: 3;
    width: 27Vw;
    height: 32Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/consyltat.jpg"); }
  .gallery__zIndex1-pology {
    opacity: 0.3;
    z-index: 1;
    width: 21Vw;
    height: 28Vh;
    position: relative;
    bottom: 56Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/pology.jpg"); }
  .gallery__zIndex2-pology {
    opacity: 0.5;
    z-index: 2;
    width: 24Vw;
    height: 30Vh;
    position: relative;
    bottom: 29Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/pology.jpg"); }
  .gallery__zIndex3-pology {
    position: relative;
    z-index: 3;
    width: 27Vw;
    height: 32Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/pology.jpg"); }
  .gallery__zIndex1-inshe {
    opacity: 0.3;
    z-index: 1;
    width: 21Vw;
    height: 28Vh;
    position: relative;
    bottom: 56Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/inshe.jpg"); }
  .gallery__zIndex2-inshe {
    opacity: 0.5;
    z-index: 2;
    width: 24Vw;
    height: 30Vh;
    position: relative;
    bottom: 29Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/inshe.jpg"); }
  .gallery__zIndex3-inshe {
    position: relative;
    z-index: 3;
    width: 27Vw;
    height: 32Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/inshe.jpg"); }
  .gallery__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: -325px; }
  .gallery__row-down {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: -25Vh; }
  .gallery__column {
    display: flex;
    align-items: center;
    flex-direction: column; }

.photoBox {
  margin: 10%; }
  .photoBox__image {
    height: 30Vh;
    width: 20Vw;
    margin: 1%;
    background-color: #f59fbc; }
  .photoBox__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }

.headlineSection {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  color: #f59fbc;
  margin-top: 8%; }

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.55; }

.windowDoctor {
  display: flex;
  flex-direction: row;
  width: 60Vw;
  height: 70Vh;
  background-color: white;
  z-index: 105;
  position: absolute;
  left: 20Vw;
  bottom: 15Vh; }
  .windowDoctor__photo-Bybur {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-image: url("../../app/img/doctors/Бубирь ч.б..jpg"); }
  .windowDoctor__photo-Akin {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-image: url("../../app/img/doctors/Акін ч.б..jpg"); }
  .windowDoctor__photo-Pantuh {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-image: url("../../app/img/doctors/Пантюх чб.jpg"); }
  .windowDoctor__photo-Skripka {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-image: url("../../app/img/doctors/Скрипка ч.б.jpg"); }
  .windowDoctor__photo-Gerkaluk {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-image: url("../../app/img/doctors/Геркалюк ч.б.jpg"); }
  .windowDoctor__photo-Boiko {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-image: url("../../app/img/doctors/Бойко ч б.jpg"); }
  .windowDoctor__photo-Otroshko {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-image: url("../../app/img/doctors/Отрошко ч.б.jpg"); }
  .windowDoctor__info {
    width: 50%;
    height: 100%;
    margin: 5% 5% -5% 5%; }
  .windowDoctor__name {
    font-weight: 600;
    font-family: Montserrat;
    font-size: 18px; }
  .windowDoctor__position {
    font-family: OpenSans;
    font-size: 13px;
    color: #333333;
    border-bottom: 1px solid #ec407a;
    margin: 7% 65% 3% 0; }
  .windowDoctor__time {
    font-family: OpenSans;
    font-size: 13px;
    color: #333333;
    margin: 10% 0 10% 0; }
  .windowDoctor__headline {
    font-family: OpenSans;
    font-size: 13px;
    color: #333333;
    font-weight: 800;
    margin: 0% 0 3% 0; }
  .windowDoctor__aticle {
    font-family: OpenSans;
    font-size: 13px;
    color: #333333;
    margin-right: 10%; }
  .windowDoctor__icon {
    height: 30px;
    width: 30px;
    position: absolute;
    top: -15px;
    right: -15px; }

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.55; }

.appointment {
  display: flex;
  flex-direction: row;
  width: 60Vw;
  height: 80Vh;
  background-color: white;
  z-index: 105;
  position: absolute;
  left: 20Vw;
  bottom: 10Vh; }
  .appointment__block {
    width: 60Vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3% 7%; }
  .appointment__block-successful {
    width: 60Vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5% 16%; }
  .appointment__icon {
    height: 30px;
    width: 30px;
    position: absolute;
    top: -15px;
    right: -15px; }
  .appointment__headline {
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 800;
    color: #333333; }
  .appointment__footerline {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 800;
    color: #333333; }
  .appointment__choose {
    width: 50%; }
  .appointment__list {
    width: 95%;
    height: 40%; }
  .appointment__title {
    font-family: OpenSans;
    font-size: 12px;
    font-weight: bold;
    color: #333333; }
  .appointment__text {
    font-family: OpenSans;
    font-size: 12px;
    color: #333333; }
  .appointment__text-successful {
    font-family: OpenSans;
    font-size: 12px;
    color: #333333;
    text-align: center; }
  .appointment__location {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .appointment__button {
    border-radius: 25px;
    background-color: #ec407a;
    width: 170px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .appointment__button-name {
    font-family: Montserrat-Bold;
    color: white;
    margin: 10px 30px; }
  .appointment__image {
    width: 17Vw;
    height: 30Vh; }

/*# sourceMappingURL=main.css.map */
