.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c4c4c4;
  padding: 20px 30px;
  margin: 0px 120px; }

.communication {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: none;
  font-size: 12px;
  top: -5px; }
  .communication__item {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: center;
    width: 190px;
    height: 31px; }

.size {
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 600;
  color: #333333;
  width: 160px;
  height: 31px;
  line-height: 1.43; }
  .size__icon {
    width: 32px;
    height: 31px;
    position: relative;
    top: 7px;
    right: -3px;
    opacity: 0.5; }

.logo {
  width: 170px;
  height: 50px; }

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
  margin: 40px 120px; }
  .navigation__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: none; }
  .navigation__item {
    margin: 0px 45px 0px 0px;
    padding: 10px 0px 0px 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: none;
    color: #707070; }
  .navigation__item:hover {
    color: black;
    cursor: pointer; }
  .navigation__button {
    border-radius: 25px;
    background-color: #ec407a; }

.button__name {
  font-family: Montserrat-SemiBold;
  font-size: 14px;
  font-weight: none;
  color: white;
  line-height: 1.43;
  margin: 10px 30px; }

.navigation__button:hover {
  transform: scale(1.1);
  color: black;
  cursor: pointer; }

.video {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .video__rolic {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0; }
  .video__content {
    text-align: center;
    position: absolute;
    top: 65px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    color: white; }

.content__headline {
  font-family: Montserrat;
  font-size: 45px;
  font-weight: none;
  color: white;
  line-height: 1.33;
  margin: 0px 0px 45px 0px; }
.content__text {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: none;
  color: white;
  line-height: 1.5; }
.content__button {
  line-height: 1.11;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  color: white;
  border-radius: 25px;
  background-color: #ec407a;
  padding: 15px 30px;
  margin: 35px 0px; }

.content__button:hover {
  transform: scale(1.1);
  cursor: pointer; }

.window_all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  position: relative;
  bottom: 155px;
  text-align: center; }

.window {
  position: relative;
  background-color: white;
  width: 255px;
  height: 255px;
  padding: 30px;
  box-shadow: 3px 3px 35px 0px rgba(79, 75, 88, 0.25); }
  .window__icon {
    width: 65px;
    height: 65px;
    padding: 25px; }
  .window__headline {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 800;
    color: #333333;
    line-height: 0.83; }
  .window__text {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: none;
    color: #707070;
    line-height: 1.5;
    margin: 15px 31px; }
  .window__button {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    color: white;
    line-height: 1.43;
    border-radius: 25px;
    background-color: #ec407a;
    width: 45%;
    margin: 0 auto;
    padding: 10px 35px;
    display: none; }

.window:hover .window__button {
  display: inline-block; }

.window:hover {
  z-index: 10;
  transform: scale(1.2);
  box-shadow: 3px 3px 35px 0px #4f4b58; }

.article {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  margin-top: 3Vh; }
  .article__headline {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 800;
    color: #333333;
    line-height: 0.48; }
  .article__footline {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 800;
    color: #333333;
    line-height: 0.48;
    margin-top: 25Vh;
    position: relative; }
  .article__footline::after {
    position: absolute;
    right: 68px;
    top: 40px;
    content: "";
    width: 180px;
    height: 1px;
    background: #ec407a; }
  .article__text {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: none;
    color: #737373;
    line-height: 1.5;
    margin: 30px 160px;
    text-align: center; }

.article_aboutus {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  margin: 50px 0px; }
  .article_aboutus__headline {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 800;
    color: #333333;
    line-height: 0.48;
    position: relative; }
  .article_aboutus__text {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: none;
    color: #737373;
    line-height: 1.5;
    margin: 70px 160px;
    text-align: center; }

.article_aboutus__headline::after {
  position: absolute;
  right: 60px;
  top: 40px;
  content: "";
  width: 180px;
  height: 1px;
  background: #ec407a; }

.section {
  margin: 70px 0px; }

.line {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  box-sizing: border-box;
  width: 100Vw;
  height: 75Vh; }
  .line__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #EDF6FB; }
  .line__image_1 {
    width: 50%;
    background-size: cover;
    background-image: url("../../app/img/0001.JPG"); }
  .line__image_2 {
    width: 50%;
    background-size: cover;
    background-image: url("../../app/img/0002.JPG"); }
  .line__image_3 {
    width: 50%;
    background-size: cover;
    background-image: url("../../app/img/0003.JPG"); }
  .line__size {
    height: 100%;
    width: 100%; }
  .line__headline {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: none;
    color: #333333;
    padding-left: 35px;
    padding-top: 20px; }
  .line__content {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: none;
    color: #707070;
    padding: 35px 35px; }
  .line__icon {
    width: 20px;
    height: 20px;
    padding-left: 35px; }
  .line__check {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: none;
    color: #707070;
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: none; }
  .line__row {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: none;
    color: #707070;
    padding-left: 5px; }

.footer {
  background-color: #ec407a;
  color: white;
  padding-top: 10px; }
  .footer__logo {
    width: 170px;
    height: 50px; }
  .footer__address {
    font-family: Open Sans;
    font-size: 10px;
    font-weight: none;
    color: #ffffff; }
  .footer__number {
    font-family: Open Sans;
    font-size: 10px;
    font-weight: none;
    color: #ffffff;
    line-height: 1.43; }
  .footer__headline {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    line-height: 0.91;
    margin: 0 0 8px 0; }
  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .footer__hight {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0px; }
  .footer__bottom {
    font-family: Open Sans;
    font-size: 10px;
    font-weight: none;
    color: #ffffff;
    line-height: 1.43;
    text-align: center; }
  .footer__icon-f {
    width: 30px;
    height: 24px; }
  .footer__icon-i {
    width: 30px;
    height: 24px; }
  .footer__icon-y {
    width: 30px;
    height: 30px; }
  .footer__icon-c {
    width: 30px;
    height: 30px; }

.image {
  width: 100%;
  height: 100%; }

.services {
  margin: 5%; }
  .services__line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: none;
    margin: 2% 5%; }
  .services__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 900;
    height: 200px;
    width: 325px; }
  .services__consyltat {
    background-size: cover;
    background-image: url("../../app/img/gallery/consyltat.jpg"); }
  .services__vedennya {
    background-size: cover;
    background-image: url("../../app/img/gallery/vedennya.jpg"); }
  .services__pology {
    background-size: cover;
    background-image: url("../../app/img/gallery/pology.jpg"); }
  .services__estety {
    background-size: cover;
    background-image: url("../../app/img/gallery/estety.jpg"); }
  .services__operatuv {
    background-size: cover;
    background-image: url("../../app/img/gallery/operatuv.jpg"); }
  .services__inshe {
    background-size: cover;
    background-image: url("../../app/img/gallery/inshe.jpg"); }

.services__item:hover {
  transform: scale(1.02); }

.pregnancy {
  margin: 5%; }
  .pregnancy__location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: none;
    padding: 5% 15% 5% 5%;
    margin: 4% 8%;
    box-shadow: 1.5px 2.6px 20.2px 3.8px rgba(109, 109, 109, 0.1);
    background-color: #ffffff; }
  .pregnancy__title {
    padding-bottom: 7px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    color: #707070; }
  .pregnancy__title-child-h {
    width: 34%;
    padding-bottom: 7px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    color: #707070; }
  .pregnancy__title-child {
    text-align: center;
    width: 34%;
    padding-bottom: 7px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    color: #707070; }
  .pregnancy__term {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    color: #ec407a; }
  .pregnancy__cost {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 900;
    color: #ec407a;
    padding-top: 15px; }

.table_of_contents {
  font-family: Open Sans;
  font-size: 25px;
  font-weight: 900;
  color: #737373;
  text-align: center; }

.consultation {
  margin: 5%; }
  .consultation__location {
    border-top: 10px solid white;
    padding: 5% 10% 5% 5%;
    margin: 4% 8%;
    box-shadow: 1.5px 2.6px 20.2px 3.8px rgba(109, 109, 109, 0.1);
    background-color: #ffffff; }
  .consultation__paragraph {
    padding: 0% 0% 2% 0%;
    font-weight: 600; }
  .consultation__subparagraph {
    color: #f59fbc;
    padding: 2% 0% 2% 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: none; }
  .consultation__title {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    color: #707070;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: none;
    padding: 2% 0% 2% 0%; }

.menu_cost {
  display: none;
  border-top: 0px solid white; }

.menu_cost:hover {
  display: inline-block; }

.consultation__location:hover {
  border-top: 10px solid #ec407a; }

.price {
  margin: 5% 0% 5% 0%; }
  .price__headline {
    padding: 2% 10% 2% 5%;
    font-family: Montserrat-Regular;
    font-size: 12px;
    font-weight: bold;
    color: #f59fbc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: none;
    line-height: 1.65; }
  .price__line-child {
    opacity: 0.8;
    padding: 2% 5% 2% 5%;
    font-family: Montserrat-Regular;
    font-size: 12px;
    font-weight: none;
    color: #707070;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: none; }
  .price__line {
    opacity: 0.8;
    padding: 2% 10% 2% 5%;
    font-family: Montserrat-Regular;
    font-size: 12px;
    font-weight: none;
    color: #707070;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: none; }
  .price__name {
    font-family: Montserrat-Regular;
    font-size: 12px;
    font-weight: none;
    color: #707070;
    width: 30%; }
  .price__sign {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: none;
    color: #707070;
    line-height: 0.46; }

.price__line:nth-child(2n-1) {
  background: #fad6e1; }

.price__line-child:nth-child(2n-1) {
  background: #fad6e1; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5% 10% 5% 5%; }

.menu-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5% 5% 5% 5%; }

.menu-higt {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  width: 100%; }

.all {
  margin: 4% 8%;
  border-top: 10px solid white;
  box-shadow: 1.5px 2.6px 20.2px 3.8px rgba(109, 109, 109, 0.1);
  background-color: #ffffff; }

.all:hover {
  border-top: 10px solid #ec407a; }

.line-border {
  border-top: 1px solid #707070;
  opacity: 0.8; }

.doctorsText {
  margin-top: 75px; }
  .doctorsText__headline {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 800;
    color: #333333;
    text-align: center; }
  .doctorsText__content {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: none;
    color: #707070;
    margin: 60px 100px;
    text-align: center; }

.doctorsList {
  margin: auto; }
  .doctorsList__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px; }
  .doctorsList__row-down {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px; }
  .doctorsList__column {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none; }
  .doctorsList__image-Bybur {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url("../../app/img/doctors/bubir-bw.jpg"); }
  .doctorsList__image-Bybur:hover {
    background-image: url("../../app/img/doctors/bubir.jpg"); }
  .doctorsList__image-Otroshko {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url("../../app/img/doctors/Otroshko-bw.jpg"); }
  .doctorsList__image-Otroshko:hover {
    background-image: url("../../app/img/doctors/Otroshko.jpg"); }
  .doctorsList__image-Boiko {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url("../../app/img/doctors/boiko-bw.jpg"); }
  .doctorsList__image-Boiko:hover {
    background-image: url("../../app/img/doctors/boiko.jpg"); }
  .doctorsList__image-Skripka {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url("../../app/img/doctors/skripka-bw.jpg"); }
  .doctorsList__image-Skripka:hover {
    background-image: url("../../app/img/doctors/skripka.jpg"); }
  .doctorsList__image-Pantuh {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url("../../app/img/doctors/pantuh-bw.jpg"); }
  .doctorsList__image-Pantuh:hover {
    background-image: url("../../app/img/doctors/Pantuh.jpg"); }
  .doctorsList__image-Gerkaluk {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url("../../app/img/doctors/Herkaluk-bw.jpg"); }
  .doctorsList__image-Gerkaluk:hover {
    background-image: url("../../app/img/doctors/Herkaluk.jpg"); }
  .doctorsList__image-Akin {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url("../../app/img/doctors/Akin-bw.jpg"); }
  .doctorsList__image-Akin:hover {
    background-image: url("../../app/img/doctors/Akin.jpg"); }
  .doctorsList__name {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    padding-bottom: 10px;
    padding-top: 30px; }
  .doctorsList__position {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: none;
    color: #333333; }

.galleryHeadline {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 800;
  color: #333333;
  text-align: center;
  margin: 60px 100px; }

.gallery {
  margin: 0Vh 6Vw; }
  .gallery__title {
    text-align: center;
    position: relative;
    top: 85%;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 800;
    color: #ffffff; }
  .gallery__zIndex1-vedennya {
    opacity: 0.3;
    z-index: 1;
    width: 21Vw;
    height: 28Vh;
    position: relative;
    bottom: 56Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/vedennya.jpg"); }
  .gallery__zIndex2-vedennya {
    opacity: 0.5;
    z-index: 2;
    width: 24Vw;
    height: 30Vh;
    position: relative;
    bottom: 29Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/vedennya.jpg"); }
  .gallery__zIndex3-vedennya {
    position: relative;
    z-index: 3;
    width: 27Vw;
    height: 32Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/vedennya.jpg"); }
  .gallery__zIndex1-operatuv {
    opacity: 0.3;
    z-index: 1;
    width: 21Vw;
    height: 28Vh;
    position: relative;
    bottom: 56Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/operatuv.jpg"); }
  .gallery__zIndex2-operatuv {
    opacity: 0.5;
    z-index: 2;
    width: 24Vw;
    height: 30Vh;
    position: relative;
    bottom: 29Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/operatuv.jpg"); }
  .gallery__zIndex3-operatuv {
    position: relative;
    z-index: 3;
    width: 27Vw;
    height: 32Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/operatuv.jpg"); }
  .gallery__zIndex1-estety {
    opacity: 0.3;
    z-index: 1;
    width: 21Vw;
    height: 28Vh;
    position: relative;
    bottom: 56Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/estety.jpg"); }
  .gallery__zIndex2-estety {
    opacity: 0.5;
    z-index: 2;
    width: 24Vw;
    height: 30Vh;
    position: relative;
    bottom: 29Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/estety.jpg"); }
  .gallery__zIndex3-estety {
    position: relative;
    z-index: 3;
    width: 27Vw;
    height: 32Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/estety.jpg"); }
  .gallery__zIndex1-consyltat {
    opacity: 0.3;
    z-index: 1;
    width: 21Vw;
    height: 28Vh;
    position: relative;
    bottom: 56Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/consyltat.jpg"); }
  .gallery__zIndex2-consyltat {
    opacity: 0.5;
    z-index: 2;
    width: 24Vw;
    height: 30Vh;
    position: relative;
    bottom: 29Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/consyltat.jpg"); }
  .gallery__zIndex3-consyltat {
    position: relative;
    z-index: 3;
    width: 27Vw;
    height: 32Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/consyltat.jpg"); }
  .gallery__zIndex1-pology {
    opacity: 0.3;
    z-index: 1;
    width: 21Vw;
    height: 28Vh;
    position: relative;
    bottom: 56Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/pology.jpg"); }
  .gallery__zIndex2-pology {
    opacity: 0.5;
    z-index: 2;
    width: 24Vw;
    height: 30Vh;
    position: relative;
    bottom: 29Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/pology.jpg"); }
  .gallery__zIndex3-pology {
    position: relative;
    z-index: 3;
    width: 27Vw;
    height: 32Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/pology.jpg"); }
  .gallery__zIndex1-inshe {
    opacity: 0.3;
    z-index: 1;
    width: 21Vw;
    height: 28Vh;
    position: relative;
    bottom: 56Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/inshe.jpg"); }
  .gallery__zIndex2-inshe {
    opacity: 0.5;
    z-index: 2;
    width: 24Vw;
    height: 30Vh;
    position: relative;
    bottom: 29Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/inshe.jpg"); }
  .gallery__zIndex3-inshe {
    position: relative;
    z-index: 3;
    width: 27Vw;
    height: 32Vh;
    background-size: cover;
    background-image: url("../../app/img/gallery/inshe.jpg"); }
  .gallery__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: none;
    margin-bottom: -325px; }
  .gallery__row-down {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: none;
    margin-bottom: -25Vh; }
  .gallery__column {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center; }

.photoBox {
  margin: 10%; }
  .photoBox__image {
    height: 30Vh;
    width: 20Vw;
    margin: 1%;
    background-color: #f59fbc; }
  .photoBox__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: none; }

.headlineSection {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 800;
  color: #f59fbc;
  text-align: center;
  margin-top: 8%; }

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.55; }

.windowDoctor {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  width: 60Vw;
  height: 70Vh;
  background-color: white;
  z-index: 105;
  position: absolute;
  left: 20Vw;
  bottom: 15Vh; }
  .windowDoctor__photo-Bybur {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-image: url("../../app/img/doctors/bubir.jpg"); }
  .windowDoctor__photo-Akin {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-image: url("../../app/img/doctors/Akin.jpg"); }
  .windowDoctor__photo-Pantuh {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-image: url("../../app/img/doctors/Pantuh.jpg"); }
  .windowDoctor__photo-Skripka {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-image: url("../../app/img/doctors/skripka.jpg"); }
  .windowDoctor__photo-Gerkaluk {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-image: url("../../app/img/doctors/Herkaluk.jpg"); }
  .windowDoctor__photo-Boiko {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-image: url("../../app/img/doctors/boiko.jpg"); }
  .windowDoctor__photo-Otroshko {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-image: url("../../app/img/doctors/Otroshko.jpg"); }
  .windowDoctor__info {
    width: 50%;
    height: 100%;
    margin: 5% 5% -5% 5%; }
  .windowDoctor__name {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    color: #737373; }
  .windowDoctor__position {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: none;
    color: #333333;
    border-bottom: 1px solid #ec407a;
    margin: 7% 65% 3% 0; }
  .windowDoctor__time {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: none;
    color: #333333;
    margin: 10% 0 10% 0; }
  .windowDoctor__headline {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 800;
    color: #333333;
    margin: 0% 0 3% 0; }
  .windowDoctor__aticle {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: none;
    color: #333333;
    margin-right: 10%; }
  .windowDoctor__icon {
    height: 30px;
    width: 30px;
    position: absolute;
    top: -15px;
    right: -15px; }

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.55; }

.appointment {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  width: 60Vw;
  height: 80Vh;
  background-color: white;
  z-index: 105;
  position: absolute;
  left: 20Vw;
  bottom: 10Vh; }
  .appointment__block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: none;
    width: 60Vw;
    margin: 3% 7%; }
  .appointment__block-successful {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60Vw;
    margin: 5% 16%; }
  .appointment__icon {
    height: 30px;
    width: 30px;
    position: absolute;
    top: -15px;
    right: -15px; }
  .appointment__headline {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 800;
    color: #333333;
    line-height: 0.56; }
  .appointment__footerline {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 800;
    color: #333333; }
  .appointment__choose {
    width: 50%; }
  .appointment__list {
    width: 95%;
    height: 40%; }
  .appointment__title {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: bold;
    color: #333333; }
  .appointment__text {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: none;
    color: #333333; }
  .appointment__text-successful {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: none;
    color: #333333;
    text-align: center; }
  .appointment__location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: none; }
  .appointment__button {
    border-radius: 25px;
    background-color: #ec407a;
    width: 170px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .appointment__button-name {
    font-family: Montserrat-Bold;
    font-size: 12px;
    font-weight: none;
    color: white;
    margin: 10px 30px; }
  .appointment__image {
    width: 17Vw;
    height: 30Vh; }

.carousel {
  width: 80%;
  height: 78%;
  margin: 5Vh auto;
  z-index: 105;
  position: absolute;
  left: 10%; }

.overlay-photo {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 1; }

/*# sourceMappingURL=main.css.map */
