@media screen and (max-width:414px)
    body 
        margin: 0
        padding: 0
    .wrap 
        margin: 0 auto
        min-width: 320px
    .container 
        max-width: 1130px
        margin: 0 auto
        padding-right: 15px
        padding-left: 15px
    .personsList 
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        /* margin-right: -5%; */
        margin-left: -5%
    .popupHidden 
        visibility: hidden
        display: none
    .cardPerson 
        width: 200px
        min-height: 306px
        text-transform: uppercas
        font-size: 16px
        line-height: 30px
        font-family: Montserrat
        margin-left: 5%
        margin-right: 5%
        margin-top: 15px
        margin-bottom: 15px
        border: 1px solid rgba(99, 99, 99, 0)
        border-radius: 4px
        transition: box-shadow 0.5s ease-in
        padding: 3px
        list-style: none
        &__photo 
            width: 200px
            height: 200px
            border-radius: 50%
            object-fit: cover
            object-position: center top
            filter: grayscale(100%)
            -webkit-filter: grayscale(100%)
            transition: filter 0.5s ease-in-out
    .cardPerson:hover .cardPerson__photo 
        filter: grayscale none
        -webkit-filter: none
    .cardPerson:hover 
        cursor: pointer
        /* box-shadow: 12px 8px 5px 3px rgba(0, 0, 0, 0.1),
            0 0 5px 2px rgba(103, 103, 103, 0.1); */
    .person 
        width: 130%
        height: auto
        margin-top: 17px
        margin-bottom: 5px
        margin-left: -30px
        &__name
            @include font (Montserrat, 18px, 600, #737373, 27px)
            text-align: center
        &__position
            @include font (Open Sans, 13px, none, #333333, 19.5px)
            text-align: center
        &__surename 
            @include font (Montserrat, 18px, 600, #737373, 27px)
            text-align: center
        &__position 
            font-size: 12px
            text-transform: none
    /*----- popup start-----*/
    .popupWrap 
        display: flex
        width: 100%
        height: 140Vh
        min-height: 100%
        background-color: rgba(0, 0, 0, 0)
        overflow: hidden
        position: absolute
        top: 5Vh
    .popup 
        display: flex
        margin: auto
        /* margin: 5% auto 0px auto; */
        width: 120vh
        height: 170vh
        top: 13Vh
        background-color: #fff
        border-radius: 3px
        box-shadow: none
        position: relative
        position: relative
        &__photo 
            margin: 0Vh 6Vw
            width: 88Vw
            height: 77Vh
            border-radius: 3px 0 0 3px
    .closeButton 
        height: 40px
        width: 40px
        border-radius: 50%
        background-color: rgba(255, 255, 255, 0)
        position: absolute
        top: 0Vh
        right: 102Vw
        line-height: 40px
        font-size: 29px
        text-align: center
        color: white
        box-sizing: border-box
        border: 1px solid rgba(255, 255, 255, 0)
        transition: background-color 0.15s, border 0.5s, color 0.5s
    .closeButton:hover 
        background-color: rgba(255, 255, 255, 0)
        cursor: pointer
    .closeButton:active 
        background-color: rgba(255, 255, 255, 0)
        cursor: pointer
        border: none
        transition: border 0.15s, color 0.15s
        color: rgba(255, 255, 255, 0.664)
    .desc
        display: flex
        flex-direction: column
        justify-content: start
        overflow: hidden
        margin: 0 auto
        padding-right: 3%
        padding-left: 3%
        position: relative
        top: 70Vh
        right: 98Vw
        width: 85Vw
        text-align: center
        &__fullname 
            @include font (Montserrat, 20px, 600, #333333, 48px)
            text-transform: capitalize
            margin-top: 0%
            margin-bottom: 0%
            width: 88Vw
            position: relative
            left: -2Vw
            height: 10Vh
        &__position 
            @include font (Open Sans, 14px, none, #707070, 24px)
            padding-right: 0
        &__position::after 
            content: ""
            display: block
            border-bottom: 1.5px solid #ec407a
            width: 120px
            margin-top: 4%
            margin-bottom: 8%
            margin-left: 33%
        &__fullname::after 
            content: ""
            display: block
            border-bottom: 10Vh solid rgba(255, 255, 255, 0.3)
            position: relative
            top: -8.6Vh
        &__experience
            @include font (Open Sans, 14px, none, #707070, 24px) 
            /* margin-top: 50px; */
        &__head 
            @include font (Open Sans, 16px, none, #707070, 24px)
            margin-top: 8%
            padding-bottom: 5px
            margin-bottom: 5px
        &__spec 
            @include font (Open Sans, 16px, none, #707070, 24px)
            margin-top: 5px
        /* margin-top: 8px; */

/*----- popup end-----*/
        
