.overlay    
    position: fixed
    z-index: 100
    top: 0
    left: 0
    height: 100%
    width: 100%
    background-color: #000
    opacity: 0.55
.appointment
    display: flex
    flex-direction: row
    width: 60Vw
    height: 80Vh
    background-color: white
    z-index: 105
    position: absolute
    left: 20Vw
    bottom: 10Vh
    &__block
        width: 60Vw
        display: inline-block
    &__icon
        height: 30px
        width: 30px
        position: absolute
        top: -15px
        right: -15px
    &__headline
        border: 1px solid red
        font-family: Montserrat
        font-size: 36px
        font-weight: 800
        color: #333333
    &__choose
        border: 1px solid red
    &__list
        border: 1px solid red
    &__title
        border: 1px solid red
    &__location
        display: flex
        flex-direction: row