.article
    @include flex (flex, column, none, center) 
    margin-top: -50px
    &__headline
        @include font (Montserrat, 36px, 800, #333333) 
        line-height: 0.48
    &__text
        @include font (OpenSans, 16px, none, #737373) 
        line-height: 1.5
        margin: 30px 160px
        text-align: center
.article_aboutus
    @include flex (flex, column, none, center) 
    margin: 50px 0px
        