.overlay    
    position: fixed
    z-index: 100
    top: 0
    left: 0
    height: 100%
    width: 100%
    background-color: #000
    opacity: 0.55
.windowDoctor
    display: flex
    flex-direction: row
    width: 60Vw
    height: 70Vh
    background-color: white
    z-index: 105
    position: absolute
    left: 20Vw
    bottom: 15Vh
    &__photo-Bybur
        width: 50%
        height: 100%
        background-size: cover
        background-image: url("../../app/img/doctors/Бубирь ч.б..jpg")
    &__photo-Akin
        width: 50%
        height: 100%
        background-size: cover
        background-image: url("../../app/img/doctors/Акін ч.б..jpg")
    &__photo-Pantuh
        width: 50%
        height: 100%
        background-size: cover
        background-image: url("../../app/img/doctors/Пантюх чб.jpg")
    &__photo-Skripka
        width: 50%
        height: 100%
        background-size: cover
        background-image: url("../../app/img/doctors/Скрипка ч.б.jpg")
    &__photo-Gerkaluk
        width: 50%
        height: 100%
        background-size: cover
        background-image: url("../../app/img/doctors/Геркалюк ч.б.jpg")
    &__photo-Boiko
        width: 50%
        height: 100%
        background-size: cover
        background-image: url("../../app/img/doctors/Бойко ч б.jpg")
    &__photo-Otroshko
        width: 50%
        height: 100%
        background-size: cover
        background-image: url("../../app/img/doctors/Отрошко ч.б.jpg")
    &__info
        width: 50%
        height: 100%
        margin: 5% 5% -5% 5%
    &__name
        font-weight: 600
        font-family: Montserrat
        font-size: 18px
    &__position
        font-family: OpenSans
        font-size: 13px
        color: #333333
        border-bottom: 1px solid #ec407a
        margin: 7% 65% 3% 0
    &__time
        font-family: OpenSans
        font-size: 13px
        color: #333333
        margin: 10% 0 10% 0
    &__headline
        font-family: OpenSans
        font-size: 13px
        color: #333333
        font-weight: 800
        margin: 0% 0 3% 0
    &__aticle
        font-family: OpenSans
        font-size: 13px
        color: #333333
        margin-right: 10%
    &__icon
        height: 30px
        width: 30px
        position: absolute
        top: -15px
        right: -15px