.doctorsText
    margin-top: 75px
    &__headline
        @include font (Montserrat, 32px, 800, #333333)
        text-align: center
    &__content
        @include font (Open Sans, 16px, none, #707070)
        margin: 60px 100px
        text-align: center
.doctorsList
    margin: auto
    &__row
        @include flex (flex, row, space-around, center) 
        margin-top: 80px
    &__row-down
        @include flex (flex, row, space-around, center) 
        margin-top: 80px
        margin-bottom: 80px
    &__column
        @include flex (flex, column, none, none) 
    &__image-Bybur
        border-radius: 50%  
        height: 200px
        width: 200px
        background-size: cover
        background-image: url("../../app/img/doctors/bubir-bw.jpg")
    &__image-Bybur:hover
        background-image: url("../../app/img/doctors/bubir.jpg")
    &__image-Otroshko
        border-radius: 50%  
        height: 200px
        width: 200px
        background-size: cover
        background-image: url("../../app/img/doctors/Otroshko-bw.jpg")
    &__image-Otroshko:hover
        background-image: url("../../app/img/doctors/Otroshko.jpg")
    &__image-Boiko
        border-radius: 50%  
        height: 200px
        width: 200px
        background-size: cover
        background-image: url("../../app/img/doctors/boiko-bw.jpg")
    &__image-Boiko:hover
        background-image: url("../../app/img/doctors/boiko.jpg")
    &__image-Skripka
        border-radius: 50%  
        height: 200px
        width: 200px
        background-size: cover
        background-image: url("../../app/img/doctors/skripka-bw.jpg")
    &__image-Skripka:hover
        background-image: url("../../app/img/doctors/skripka.jpg")
    &__image-Pantuh
        border-radius: 50%  
        height: 200px
        width: 200px
        background-size: cover
        background-image: url("../../app/img/doctors/pantuh-bw.jpg")
    &__image-Pantuh:hover
        background-image: url("../../app/img/doctors/Pantuh.jpg")
    &__image-Gerkaluk
        border-radius: 50%  
        height: 200px
        width: 200px
        background-size: cover
        background-image: url("../../app/img/doctors/Herkaluk-bw.jpg")
    &__image-Gerkaluk:hover
        background-image: url("../../app/img/doctors/Herkaluk.jpg")
    &__image-Akin
        border-radius: 50%  
        height: 200px
        width: 200px
        background-size: cover
        background-image: url("../../app/img/doctors/Akin-bw.jpg")
    &__image-Akin:hover
        background-image: url("../../app/img/doctors/Akin.jpg")
    &__name
        @include font (Montserrat, 16px, 600, #333333)
        padding-bottom: 10px 
        padding-top: 30px
    &__position
        @include font (Open Sans, 12px, none, #333333)
        
