.overlay    
    position: fixed
    z-index: 100
    top: 0
    left: 0
    height: 100%
    width: 100%
    background-color: #000
    opacity: 0.55
.windowDoctor
    @include flex (flex, row, none, none) 
    width: 60Vw
    height: 70Vh
    background-color: white
    z-index: 105
    position: absolute
    left: 20Vw
    bottom: 15Vh
    &__photo-Bybur
        width: 50%
        height: 100%
        background-size: cover
        background-image: url("../../app/img/doctors/bubir.jpg")
    &__photo-Akin
        width: 50%
        height: 100%
        background-size: cover
        background-image: url("../../app/img/doctors/Akin.jpg")
    &__photo-Pantuh
        width: 50%
        height: 100%
        background-size: cover
        background-image: url("../../app/img/doctors/Pantuh.jpg")
    &__photo-Skripka
        width: 50%
        height: 100%
        background-size: cover
        background-image: url("../../app/img/doctors/skripka.jpg")
    &__photo-Gerkaluk
        width: 50%
        height: 100%
        background-size: cover
        background-image: url("../../app/img/doctors/Herkaluk.jpg")
    &__photo-Boiko
        width: 50%
        height: 100%
        background-size: cover
        background-image: url("../../app/img/doctors/boiko.jpg")
    &__photo-Otroshko
        width: 50%
        height: 100%
        background-size: cover
        background-image: url("../../app/img/doctors/Otroshko.jpg")
    &__info
        width: 50%
        height: 100%
        margin: 5% 5% -5% 5%
    &__name
        @include font (Montserrat, 18px, 600, #737373)
    &__position
        @include font (Open Sans, 13px, none, #333333) 
        border-bottom: 1px solid #ec407a
        margin: 7% 65% 3% 0
    &__time
        @include font (Open Sans, 13px, none, #333333)
        margin: 10% 0 10% 0
    &__headline
        @include font (Open Sans, 13px, 800, #333333)
        margin: 0% 0 3% 0
    &__aticle
        @include font (Open Sans, 13px, none, #333333)
        margin-right: 10%
    &__icon
        height: 30px
        width: 30px
        position: absolute
        top: -15px
        right: -15px