.footer
    background-color: #ec407a
    color: white
    padding-top: 10px
    &__logo
        border: 1px solid black
    &__phone
    &__address
    &__number
        font-size: 14px
    &__headline
        font-size: 22px
    &__social
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-top: 10px
    &__hight
        display: flex
        flex-direction: row
        justify-content: space-around
        margin: 30px 0px
    &__bottom
        text-align: center
    &__icon
        width: 25px 
        height: 25px
        