.footer
    background-color: #ec407a
    color: white
    padding-top: 10px
    &__logo
        border: 1px solid black
    &__phone
        border: 1px solid black
    &__address
        border: 1px solid black
    &__social
        border: 1px solid black
    &__hight
        display: flex
        flex-direction: row
        justify-content: space-around
        margin: 20px 0px
    &__bottom
        text-align: center