.galleryHeadline
    font-family: Montserrat
    font-size: 32px
    font-weight: 800
    text-align: center
    color: #333333
.gallery
    &__zIndex-1
        z-index: 1
        border: 2px solid red
        width: 24Vw
        height: 28Vh
        position: relative
        bottom: 56Vh
    &__zIndex-2 
        z-index: 2
        border: 3px solid green
        width: 26Vw
        height: 30Vh
        position: relative
        bottom: 29Vh
    &__zIndex-3
        z-index: 3
        border: 5px solid pink
        width: 28Vw
        height: 32Vh
    &__row
        display: flex
        flex-direction: row
        justify-content: space-around
    &__column
        display: flex
        align-items: center
        flex-direction: column