.head
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    border-bottom: 1px solid #c4c4c4
    padding: 20px 30px
    margin: 0px 120px
.communication
    display: flex
    flex-direction: row
    justify-content: flex-end
    font-size: 12px
    &__item
        display: flex
        flex-direction: row
        align-items: center
        width: 154px
        height: 31px
.size
    width: 154px
    height: 31px
    &__icon
        width: 32px
        height: 31px
        position: relative
        top: 1px
        right: 3px
        opacity: 0.5
.logo
    width: 242px
    height: 70px