.navigation
    @include flex (flex, row, space-around, none)  
    margin: 40px 120px
    &__menu
        @include flex (flex, row, space-around, none) 
    &__item
        margin: 0px 45px 0px 0px
        padding: 10px 0px 0px 0px
        @include font (Montserrat, 16px, none, #707070)
    &__item:hover
        color: black
        cursor: pointer
    &__button
        border-radius: 25px
        background-color: #ec407a
.button
    &__name
        @include font (Montserrat-SemiBold, 14px, 800, white)
        line-height: 1.43
        margin: 10px 30px
        transition: 0.15s
.navigation__button:hover
    transform: scale(1.1)
    color: black
    cursor: pointer
    
