.navigation
    @include flex (flex, row, space-around, none)  
    margin: 40px 120px
    &__menu
        @include flex (flex, row, space-around, none) 
    &__item
        margin: 0px 45px 0px 0px
        padding: 10px 0px 0px 0px
        @include font (Montserrat, 16px, none, #707070, 24px)
    &__item-a
        color: #707070
        text-decoration: none
    &__item-a:hover
        cursor: pointer
        color: black
    &__button
        height: 20%
        border-radius: 25px
        background-color: #ec407a
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
.button
    &__name
        @include font (Montserrat, 12px, 600, white, 18px)
        line-height: 1.43
        margin: 2px 30px
        width: 18Vw
        text-align: center
        padding: 1% 1%
        outline: none
.navigation__button:hover
    transform: scale(1.1)
    color: black
    cursor: pointer
    transition: 0.3s  
.menu__box 
    list-style: none
    padding-inline-start: 0px
.hamburger-menu
    margin: 3% 0
    @include flex (flex, row, center, center) 
#menu__toggle 
    display: none
.footer-mobile
    display: none