.photoBox
    margin: 10%
    &__image
        height: 30Vh
        width: 20Vw
        margin: 1%
        background-color: #f59fbc
    &__row
        display: flex
        flex-direction: row
        justify-content: space-around
.headlineSection
    font-family: Montserrat
    font-size: 30px
    font-weight: 800
    text-align: center
    color: #f59fbc
    margin-top: 8%