.section
    margin: 70px 0px
.line
    @include flex (flex, row, none, none) 
    box-sizing: border-box
    width: 100Vw
    height: 75Vh
    &__block
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 50%
        background-color: #EDF6FB
    &__image_1
        width: 50%
        background-size: cover
        background-image: url("../../app/img/0002.JPG")
    &__image_2
        width: 50%
        background-size: cover
        background-image: url("../../app/img/0001.JPG")
    &__image_3
        width: 50%
        background-size: cover
        background-image: url("../../app/img/0003.JPG")
    &__size
        height: 100%
        width: 100%
    &__headline
        @include font (Montserrat, 22px, none, #333333, 33px)
        padding-left: 35px
        padding-top: 20px
    &__content
        @include font (Open Sans, 16px, none, #707070, 24px)
        padding: 35px 35px
    &__icon
        width: 20px
        height: 20px
        padding-left: 35px
    &__check
        @include font (Open Sans, 16px, none, #707070, 24px)
        @include flex (flex, row, none, none) 
    &__row
        @include font (Montserrat, 16px, none, #707070, 24px)
        padding-left: 5px
    