.services
    margin: 5%
    &__location
        display: flex
        flex-direction: row
        justify-content: space-between
        padding: 5% 20% 5% 5%
        margin: 4% 8%
        box-shadow: 1.5px 2.6px 20.2px 3.8px rgba(109, 109, 109, 0.1)
        background-color: #ffffff
    &__title
        padding-bottom: 7px
        color: #707070
    &__term
        color: #ec407a
    &__cost
        padding-top: 15px
        color: #ec407a
        font-weight: 900
.table_of_contents
    text-align: center
    font-size: 25px
    font-weight: 900
          