.video
    position: relative
    width: 100%
    height: 100%
    @include flex (flex, column, center, center) 
    &__rolic
        height: 100%
        width: 100%
        position: relative
        z-index: 0
    &__content
        text-align: center
        position: absolute
        top: 65px
        z-index: 1
        @include flex (flex, column, none, center) 
        color: white
.content
    &__headline
        @include font (Montserrat, 45px, none, white, 67.5px) 
        line-height: 1.33
        margin: 0px 0px 45px 0px
    &__text
        @include font (Open Sans, 18px, none, white, 27px)
        line-height: 1.5
.button-online
    width: 16Vw
    height: 4.5Vh
    margin: auto
.button-video
    width: 22Vw
    height: 5Vh
    margin: 4Vh auto
.button
    outline: none 
    border-radius: 25px
    background-color: #ec407a
    color: white
    line-height: 18px
    border: none
    transition: transform 0.5s, box-shadow 0.5s
    @include font (Montserrat, 12px, 600, white, 18px)
.button:hover 
    background-color: #ee5588
    transform: scale(1.05)
    cursor: pointer
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1), inset 0 0 5px 1px rgba(255, 255, 255, 0.3)
    transition: box-shadow 0.1s, transform 0.15s
.button:hover .button-sW 
    transform: scale(1.05)
    transition: transform 0.15s
.button:active 
    box-shadow: inset 0 0 5px 1px rgba(255, 255, 255, 0.5), 0 0 5px 3px rgba(0, 0, 0, 0.1)
    background-color: #ec407a

          