.video
    position: relative
    border: 3px solid red
    width: 100Vw
    height: 100Vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    &__rolic
        height: 100Vh
        width: 100Vw
        position: relative
        z-index: 0
    &__content
        position: absolute
        z-index: 1
        display: flex
        flex-direction: column
        align-items: center
        border: 2px solid green
        