.window_all
    @include flex (flex, row, center, none) 
    position: relative
    bottom: 155px
    text-align: center
.window
    position: relative
    background-color: white
    width: 255px
    height: 255px
    padding: 30px
    box-shadow: 3px 3px 35px 0px rgba(79, 75, 88, 0.25)
    &__icon
        width: 65px    
        height: 65px
        padding: 25px
    &__headline
        @include font (Montserrat, 20px, 800, #333333, 30px) 
        line-height: 0.83
    &__text
        @include font (Open Sans, 14px, none, #707070, 21px)
        line-height: 1.5
        margin: 15px 31px
    &__button
        @include font (Montserrat, 11px, 600, white, 18px)
        line-height: 1.43
        border-radius: 25px
        background-color: #ec407a
        width: 45%
        margin: 0 auto
        padding: 7px 35px
        display: none
    &__button:hover
        transition: 0.50s
        transform: scale(1.1)
.window:hover .window__button
    display: inline-block
.window:hover
    z-index: 10
    transform: scale(1.2)
    box-shadow: 3px 3px 35px 0px rgba(79, 75, 88, 25)
    transition: 0.50s