.window_all
    @include flex (flex, row, center, none) 
    position: relative
    bottom: 155px
    text-align: center
.window
    background-color: white
    width: 255px
    height: 255px
    padding: 20px
    box-shadow: 3px 3px 35px 0px rgba(79, 75, 88, 0.25)
    &__icon
        width: 65px    
        height: 65px
        padding: 25px
    &__headline
        @include font (Montserrat, 20px, 800, #333333) 
        line-height: 0.83
    &__text
        @include font (OpenSans, 10px, none, #707070)
        line-height: 1.5
        margin: 22px 59px
    &__button
        @include font (Montserrat, 12px, 600, white)
        line-height: 1.43
        border-radius: 25px
        background-color: #ec407a
        display: inline
        padding: 10px 35px
.window:hover
    transform: scale(1.2)
    box-shadow: 3px 3px 35px 0px rgba(79, 75, 88, 25)