body {
  margin: 0;
  padding: 0;
}

.wrap {
  margin: 0 auto;
  min-width: 320px;
}
.container {
  max-width: 1130px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.personsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: -5%;
  margin-left: -5%;
}
.popupHidden {
  visibility: hidden;
  display: none;
}

.cardPerson {
  width: 200px;
  min-height: 306px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  font-family: Montserrat;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid rgba(99, 99, 99, 0);
  border-radius: 4px;
  transition: box-shadow 0.5s ease-in;
  padding: 3px;
  list-style: none;
}

.cardPerson__photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center top;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}
.cardPerson:hover .cardPerson__photo {
  filter: grayscale none;
  -webkit-filter: none;
}
.cardPerson:hover {
  cursor: pointer;
  /* box-shadow: 12px 8px 5px 3px rgba(0, 0, 0, 0.1),
    0 0 5px 2px rgba(103, 103, 103, 0.1); */
}
.person {
  width: 100%;
  height: auto;
  margin-top: 17px;
  margin-bottom: 5px;
}
.person__name,
.person__position,
.person__surename {
  text-align: center;
}
.person__position {
  font-size: 12px;
  text-transform: none;
}

/*----- popup start-----*/

.popupWrap {
  display: flex;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: fixed;
  top: 0px;
}

.popup {
  display: flex;
  margin: auto;
  width: 80vh;
  max-height: 60vh;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 5px 5px 30px 5px rgba(56, 56, 56, 0.3);
  position: relative;
  position: relative;
}
.popup__desc {
}

.popup__photo {
  height: 100%;
  border-radius: 3px 0 0 3px;
}

.closeButton {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ec407a;
  position: absolute;
  top: -20px;
  right: -20px;
  line-height: 40px;
  font-size: 29px;
  text-align: center;
  color: white;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: background-color 0.15s, border 0.5s, color 0.5s;
}
.closeButton:hover {
  background-color: #df2764;
  cursor: pointer;
}
.closeButton:active {
  background-color: #df2764;
  cursor: pointer;
  border: 1px solid white;
  transition: border 0.15s, color 0.15s;
  color: rgba(255, 255, 255, 0.664);
}
.desc{
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding-right: 3%;
  padding-left: 3%;
}
.desc__fullname {
  align-content: center;
  font-size: 24px;
  text-transform: capitalize;
  margin-top:29%;
  margin-bottom: 8%; 
}
.desc__position {
  font-style: 18px;
}
.desc__position::after {
  content: "";
  display: block;
  border-bottom: 1px solid #ec407a;
  width: 150px;
  margin-top: 4%;
  margin-bottom: 14%;
}
.desc__experience {
  /* margin-top: 50px; */
}
.desc__head {
  font-size: 20px;
  margin-top: 8%;
  padding-bottom: 5px;
  margin-bottom: 5px; 
}
.desc__spec {
  font-size: 18px;
  margin-top: 5px;
  /* margin-top: 8px; */
}
/*----- popup end-----*/
